.page {

	.site-main {

		article {

			.entry-header {
				margin-bottom: 40px;

				.entry-thumbnail {
					width: 100%;
					margin-bottom: 24px;
				}
			}
		}
	}

	.bzb-sns-btn {
		display: none;
	}
}